* {
    margin: 0;
    padding: 0
}


h1{
    font-size: 30px;
    font-family: Arial , sans-serif;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    line-height: 140px;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    font-family: Arial , sans-serif;
    font-weight: bold;
    color: #000000;
}

h3{
    font-family: Arial , sans-serif;
    font-size: 48px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:15px;
}

h4{
    font-family: Arial , sans-serif;
    font-size: 27px;
    color: #000000;
    font-weight: bolder;
    
    
}

h5{
    font-family: Arial , sans-serif;
    font-size: 10px;
    color: #000000;
    
    text-transform: uppercase;
}

h5{
    font-family: Arial , sans-serif;
    font-size: 17px;
    color: #000000;
    
    text-transform: uppercase;
}

.banner{
	
    background: url(../img/background2.jpg) no-repeat;
    height: 900px;
    width: 100%;
    
	background-size: auto;
    }
.contacts{
   
    position: left;
   
    margin-left: 5%;
        height: 600px;
        width: 100%;
        
        background-size: auto;
        }
.contacts text
{
    color: rgb(7, 7, 7);
    padding-left: 300px;
}
.contacts a{
    color: rgb(7, 7, 7);
    text-decoration: none;
}
.verh {
    
    height: 50px;
    background-color: #444;
    
}
.verh li{
    display: inline-block;

    color: rgb(255, 255, 255);
    font-size: 10px;
	text-transform: uppercase;
	margin-left: 450;
	font-family: arial, sans-serif;
    padding-left: 20px;
    padding-top: 20px ;
}
.verh a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.container1 {
    /*background-color: rgb(255, 153, 0);*/
	width: 1500px;
    position: left;
    right: 50%;
    margin-left: 5%;
    height: 900px;
    
  

}.container2 {
   /*background-color: aqua;*/
    width: 900px;
    position: absolute;
    top: 60px;
    left: 30%;
    
    
}


.container1 img {
    width: 150px;
    float:left;
}
.navbar{
	padding-top: 10px;
    float:left;
    
}
nav{
	
	margin-top: 50px;
}
.navbar li{
    margin: 880 auto;
    text-align: top;
    
	margin-right: 10px;
    display:inline-block  ;
}
nav a{
    text-decoration: none;
    color: rgb(255, 108, 108);
    font-size: 20px;
	text-transform: uppercase;
	margin-right: 150;
	font-family: arial, sans-serif;
}
.photo-container-2 {
   
    max-height: 1000px;
    width: 100%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    border-radius: 30px;
}
.photo-container-2 img {
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.photo-container-2 .photo-1 {
    position: relative;
    animation: rotate 20s linear 5s infinite;
}
.photo-container-2 .photo-2 {
    position: absolute;
    top: 0;
    animation: rotate 20s linear infinite;
}
@keyframes rotate {
    0% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(0) scale(1);
        opacity: 1;
    } 
    59.99999% {
        transform: rotate(45deg) scale(3);
        opacity: 0;
        z-index: 1;
    }   
    60% {
        opacity: 0;
        z-index: -1;
    }  
    100% {
        opacity: 1;
    }  
}
nav {
    float: right;
    margin-top: 15px;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

nav li:last-child {
    margin-right: 0px;
}

nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase; 
    font-size: 14px;
    font-family: Arial , sans-serif;
}

nav a:hover {
    color: #af5a1d;
    padding-bottom: 10px;
    border-bottom: 3px solid  #fce38a;
}

.navbar__titles {
    margin: 880 auto;
    text-align: left;
    width: 900px;
    margin-top: 70px;
}
.navbar__titles2 {
    display: block;
    width: 60px;
    height: 3px;
    background-color:#a72020;
    content: "";
    margin: 0 auto;
    margin-top: 70px;
}
    
.navbar__titles:after {
    display: block;
    width: 60px;
    height: 3px;
    background-color:#a72020;
    content: "";
    margin: 0 auto;
    margin-top: 70px;
}

.nav_button {
    margin: 10 auto;
    text-align: center
    margin-top: 250px;
    width: 880px;
   
}

.button {
    background-color: #444;
    margin: 50px;
    display: inline-block;
    font-family: Arial , sans-serif;
    font-size: 27px;
    text-decoration: none;
    color:white;
    padding: 30px 80px;
    border: 5px solid #000000;
    border-radius: 30px;
    
   
    

}
.aboutus{
    
    height: 400px;
    width: 1300px;
    text-align:justify;
}

.aboutus__img {
    margin: 50 auto;
    text-align: center;
    margin-bottom: 85px;

}
work{
    height: 800px;
}

work .button{
    background-color: #444;
width: 800px;
margin: 30px;
color: white;
}
.aboutus__img img {
   
    margin-top: 60px;
    margin-right: 50px;

    width: 380px;
    border-radius: 20px;
    border: 0px #ccc solid;
    box-shadow: 0 0 10px #444;
}

.banner2 {
    
    background: url(../img/background2.jpg) no-repeat center top / cover ;
    height: 800px;
    padding-bottom: 250px;
    opacity: 0.9;
}
.icon {
    display: inline-block;
    font-family: Arial , sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    padding: 5px 5px;
    border: 2px solid #000000;
    border-radius: 20px;
    background: rgb(252, 199, 28) no-repeat center top / cover ;
    float:left;
    margin-right: 20px;
  
}
